# Secret API Key protecting the API (Rotates every 2 minutes)
API_SECRET=LAB_API_SECRET_CHANGE_ME

# Variable used to encrypt/decrypt database information (PERMANENT - NO ROTATION)
DATABASE_ENCRYPTION_KEY=LAB_DATABASE_ENCRYPTION_KEY_PERMANENT

# OpenLDAP Administrator Password (Rotates every 2 minutes)
LDAP_ADMIN_PASSWORD=adminpassword

# Upstream Services
BACKEND_URL=http://host.docker.internal:3000
LDAP_API_URL=http://ldap-api:8000
